html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #f7f7f7;
}

.navbar {
  background-color: white;
  /* overflow: hidden; */
  padding: 20px;
  position: fixed;
  display: grid;
  grid-template-areas: '. . search search user user';
  gap: 10px;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
  background-color: #ffffff;
}

.sidebar {
  margin-top: 80px;
  background-color: #ffffff;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  height: 100%;
  width: 250px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.sidebar-menu {
  list-style: none;
  padding: 0px;
}

.sidebar-menu .sidebar-item {
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}

.sidebar-item {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px;
  width: 150px;
  border-radius: 50px;
}

.active {
  background-color: lightgrey !important;
}

.sidebar-item a {
  margin-left: 30px;
  color: #000000;
  text-decoration: none;
}

.main {
  margin-top: 80px;
  margin-left: 250px;
  display: flex;
  padding: 20px 40px;
}

.tasks {
  padding: 20px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-bewteen {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.bg-blue {
  background-color: #006dd4;
}

.bg-green {
  background-color: #4caf50;
}

.bd-yellow {
  background-color: #ffc107;
}

.bg-red {
  background-color: #f44336;
}

.task {
  width: 200px;
  padding: 20px;
  margin: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
}

.task-icon {
  position: absolute;
  top: 20px;
  left: 10px;
}

.mt-5 {
  margin-top: 15px;
}

.fs-4 {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.col-50 {
  width: 50%;
}

#chart {
  position: relative;
  height: 350px;
  overflow: hidden;
}

.chart {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: white;
}

h1 {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;

  text-align: center;
  line-height: 59px;

  padding: 0 64px;
  margin: 0;
}

.stopwatch {
  display: grid;
  justify-items: center;
  grid-row-gap: 23px;
  width: 100%;
  padding-top: 25px;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 220px;
  width: 220px;

  border: 10px solid #006dd4;
  border-radius: 50%;
}

.time {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 38px;
  color: white;
  background-color: #006dd4;
}

.gold {
  font-weight: 900;

  color: #f2c94c;
  text-shadow: 0 0 0px #fff, 0 0 50px #f2c94c;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

.stopwatch-btn {
  padding: 20px;
  color: #006dd4;

}

.stopwatch-btn:hover {
  cursor: pointer;
}

#playButton {
  display: block;
}

#pauseButton {
  display: none;
}

.stopwatch {
  border: 2px solid #98cdff;
  padding: 10px 0px;
  background-color: #d8e4f0;
  border-radius: 5px;
}

.right {
  margin: 10px;
  margin-left: 30px;
}

.calendar-days {
  display: flex;
  justify-content: space-between;
}

.text-muted {
  color: gray;
}

.active-day {
  background-color: #006dd4;
  color: white;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
}

.d {
  font-size: 20px;
  font-weight: bold;
}

.dots {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dot {
  width: 5px;
  height: 5px;
  /* margin: 5 px; */
  border-radius: 50%;
}

.dot-yellow {
  background-color: #f2c94c;
}

.dot-red {
  background-color: #f24c5a;
}

.dot-green {
  background-color: #4caf50;
}

#music {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 20px;
  border-radius: 5px;
}

#music input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#music img {
  width: 200px;
  margin: 10px 50px;
}

#preWeek,
#nextWeek {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.bg-grey {
  background-color: rgb(228, 228, 228);
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.p-3 {
  padding: 3px;
}

#dropdownMenu {
  display: none;
}

@media (max-width: 1000px) {

  .sidebar {
    width: 200px;
  }

  .main {
    margin-left: 200px;
    flex-direction: column;
    padding: 10px;
  }

  .col-50 {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }

  .main {
    margin-left: 0px;
    flex-direction: column;

  }

  #dropdownMenu {
    display: flex;
  }

  .sidebar-item {
    background-color: unset !important;
  }

  .right {
    margin-left: 0px;
  }

  .col-50 {
    width: 100%;
  }

  #music {
    padding: 0px;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: 10000;
    background-color: white;
  }

  #music .m-search {
    display: none;
  }

  #music img {
    margin: 0px;
    width: 40px;
  }
}

.search-wrapper {
  grid-area: search;
  padding: 0px 10px;
  border: 1px solid lightgray;
  display: flex;
  width: 100%;
  border-radius: 50px;
}

.search {
  border: none;
  margin-left: 5px;
  width: 90%;
  padding: 8px 10px;
}

.search:focus {
  border: none;
  outline: none;
}

.navbar {
  grid-area: '';
}

.user {
  grid-area: user;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.user img {
  margin: 0px 10px;
}

#dictionary {
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  border: 1px solid #e6e6e6;
  /* border-radius: 50px; */
  overflow-y: auto;
  height: 600px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  right: 40px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}